<h1><%= @figure.name %></h1>
 <h3>Title(s):</h3>
 <ul><% @figure.titles.each do |title| %>
   <li><%= title.name %></li>
   <% end %></ul>
 <h3>Landmark(s):</h3>
 <ul><% @figure.landmarks.each do |landmark| %>
   <li><a href="/landmarks/<%=landmark.id%>"><%= landmark.name %></a></li>
   <% end %></ul>
